/* Custom framework styling */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Fjalla+One');

:root {
	--full-width: 100%;
	--easy-padding: 0 5px;
	--good-fonts: "Arial","Helvetica", "Times", serif, sans-serif;
	--auto-height: auto;
	--slight-right: 7px;
}

html, body {
	background-color: #deeaee;
	margin:0;
	width:var(--full-width);
}


main, header, footer {
	margin: 0 auto 0 5%;
	width: 90%;
	min-width: 900px;
}

header, footer {
	background-color: white;
}

figcaption {
	font-size: 16px;
	padding: 10px 0;
	font-weight: bold;
}

nav {
	min-height: 100px;
	height:var(--auto-height);
	width: var(--full-width);
	
}

.horizontal-nav {
	width: var(--full-width);
	
}
.horizontal-ul {
	padding: 3% 0;
	height: 30%;
}
.horizontal-li-important {
	display: inline-block;
	padding-right: 5%;
	list-style-type: none;
	border-right: 1px solid black;
	font-size: 1.5em;
	font-weight: bold;
}
.horizontal-li {
	display: inline-block;
}
button {
	border-radius: 7px;
	background-color: #00FFFF;
	color: white;
}
.keep-float-inside-div:after {
	content: "";
	clear: both;
	display: block;

}
.right {
	float:right;
}

.left {
	float: left;
}
.clear-right {
	clear: right;
}

.clear-left {
	clear: left;
}
.clear {
	clear: both;
}
.fixed {
	position: fixed;
}
h1,h2,h3,.headline-description, header, footer {
	text-align: center;
}
#footer {
	padding-top: 25px;
}

/* font changes */
.headline-background {
	background-color: red;
}
h1 {
		margin:0;
		padding-top: 5px;
		font-family: 'Cinzel',var(--good-fonts);
		font-size: 2.75em;
	}
h2 {
		font-family: var(--good-fonts);
		font-size: 2em;
	}

h3 {
		font-family: var(--good-fonts);
		font-size: 1.5em;
	}
.headline-description {
		font-family: 'Fjalla One',var(--good-fonts);
		font-style: italic;
		font-size: 20px;
		color: #ada397;
	}

/* grid-system */
.container {
	width: var(--full-width);
	height:var(--auto-height);
	
}
.one-third {
	padding-top: 3%;
	display: inline-block;
	width: 30%;
	height: var(--auto-height);
	margin-left: var(--slight-right);

}

.one-third-content {
	padding: var(--easy-padding);
}

.one-half {
	padding-top: 3%;
	display: inline-block;
	width: 49%;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}
.one-half-content {
	padding: var(--easy-padding);
}

.one-fourth {
	padding-top: 3%;
	display: inline-block;
	width: 24%;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}
.one-fourth-content {
	padding: var(--easy-padding);
}

.responsive-img {
	padding: 5px;
	display: block;
	margin: 0 auto;
	height: 55%;
	width: 55%;
	min-width: 150px;
	min-height:150px;
}
.one-sixth {
	padding-top: 3%;
	display: inline-block;
	width: 15%;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}

.one-sixth-content {
	padding: var(--easy-padding);
}

.one-sixth-content img {
	min-width: 100px;
	min-height: 100px;
}

.one-twelfth {
	padding-top: 3%;
	display: inline-block;
	width: 7%;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}

.one-twelfth-content {
	padding: 0 2px;
	font-size: .75vmax;
	
}
.one-twelfth-content .headline-description {
	font-size: 1vmax;
}
.one-twelfth-content img {
	min-width: 50px;
	min-height:50px;
}

.two-thirds {
	padding-top: 3%;
	display: inline-block;
	width: 60%;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}
.three-fourths {
	width: 75%;
	padding-top: 3%;
	display: inline-block;
	height: var(--auto-height);
	margin-left: var(--slight-right);
}
/* offsets */
.one-half-centered {
	margin-left: 23%;
}
 
.offset-1 {
	margin-left: 7%;
}
.offset-2 {
	margin-left: 14%;
}
.offset-3 {
	margin-left: 21%;
}
.one-third-centered,.offset-4 {
	margin-left: 30%;
}
.offset-5 {
	margin-left: 40%;
}
.offset-6 {
	margin-left: 49%;
}
/* media queries */
@media only screen and (max-width : 768px){
main, header, footer {
	margin: 0 auto 0 10%;
	width: 75%;
	min-width: 0;
}
.container {
	display: block;
	height:var(--auto-height);
	background-color: white;
}
.one-third, .one-fourth {
	width: 45%;
}
.one-sixth {
	width: 30%;
}
.one-sixth h1 {
	font-size: 2em;
}
.one-twelfth {
	width: 23%
}

}


@media only screen and (max-width: 480px) {
main, header, footer {
	width: var(--full-width);
	margin:0;
}
.one-half, .one-third,.one-fourth,.one-sixth {
	width: 90%;
}
.one-twelfth {
	width: 100%;
	height: 75px;
	border-bottom: 2px solid gray;
}

.one-twelfth img {
	float:left;
	width: 75px;
	height:50px;
}
.one-twelfth h1,h2,h3 {
	font-size:3em;
	padding-bottom: 5px;
}
.one-twelfth .headline-description {
	font-size: 12px;
}
.one-twelfth-content {
	margin-left: 12%;
 	float: left;
}


}

/* CUSTOM STYLES CAN GO HERE */
.two-thirds,.two-thirds>h3 {
	line-height: 200%;
}
.horizontal-ul {
	padding-right: 3%;
	padding-top: 30px;
	
}

#center {
	background-color: gray;
}
#additional>div {
	background-color: white;
	margin-top: 2%;
	box-shadow: 0 0 8px #888888;
	padding: 12px;
}
#thinkful {
	display: inline-block;
	text-align: left;
}
#thinkful-ul {
	display: inline-block;
	float: right;
}
.title {
	padding-top: 30px;
	padding-left: 15px;
}
footer {
	margin-top: 5%;
	height: 250px;
}